header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
}

ul {
    display: flex;
    justify-content: center;
    grid-column-gap: 20px;
}

ul li {
    list-style: none;
}